<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="button.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

        <title>Halaman Admin - Postingan</title>
    </head>
    <body class="f-color">
        <!-- start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-color-w shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#"> <img src="./images/image-logokotak.png" alt="" width="40" class="d-inline-block align-text-center" /> </a>
                <span class="fs-4 fw-bold" href="">Kotak</span>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link px-3 fw-bold f-color-b" aria-current="page" href="#">Home</a>
                        <a class="nav-link px-3" href="#">Pencarian</a>
                        <a class="nav-link px-3" href="#">Sewaku</a>
                        <a class="nav-link px-3" href="#">FAQ</a>
                        <a class="nav-link px-3" href="#">About</a>
                    </div>
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle rounded-pill px-4 shd-blue" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">Ivanandika</button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><a class="dropdown-item" href="#">Sewaku</a></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- stop navbar -->

        <div class="container my-5">
            <div class="container">
                <div class="row gx-5">
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                        <h2 class="h4 fw-bolder">Kenapa Kami membuat Kotak?</h2>
                        <p>Kotak ditujukan untuk membantu pengguna mencari kos dan kontrakan dengan aman dan cepat.</p>
                    </div>
                    <div class="col-lg-4 mb-5 mb-lg-0">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                        <h2 class="h4 fw-bolder">Teknologi apa saja yang dipakai?</h2>
                        <p>.</p>
                    </div>
                    <div class="col-lg-4">
                        <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                        <h2 class="h4 fw-bolder">Dimana kami mengelola website ini?</h2>
                        <p>Kami mengelola website ini di perusahaan yang terletak di Kota Salatiga</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid text-center d-flex justify-content-center bg-color-g py-6">
            <div class="col-md-8">
                <h2>Siapa saja orang-orang dibalik Kotak?</h2>
                <br />
                <div class="d-flex my-5 justify-content-center">
                    <div class="row row-cols-2 row-cols-md-3 g-4 justify-content-center">
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Hebertus</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Ivan</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Evan</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Abi</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Jonathan</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 class="">Bagaimana pendapat orang tentang aplikasi ini?</h2>
                <p>Banyak pelanggan yang senang dengan pekerjaan kami</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- Testimonial 1-->
                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Rumah saya jauh, Tetapi dengan aplikai <b>Kotak</b> saya sangat terbantu sekali dalam mencari kontrakan. Terima kasih <b>Kotak</b></p>
                                    <div class="small text-muted">- Raynaldo, Pontianak</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card mb-4">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Aplikasi yang sangat profesional dalam membantu pencarian dan sangat efektif sekali!</p>
                                    <div class="small text-muted">- Jason Sinaga, Semarang</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Testimonial 2-->
                    <div class="card">
                        <div class="card-body p-4">
                            <div class="d-flex">
                                <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                                <div class="ms-4">
                                    <p class="mb-1">Saya dari kudus dan ingin berkuliah di Salatiga, Dan aplikasi ini sangat membantu saya dalam menemukan kos dengan cepat. Mantap pokoknya!</p>
                                    <div class="small text-muted">- Jordi, Kudus</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
