<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="button.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

        <title>Kos A</title>
    </head>
    <body class="f-color">
        <!-- start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-color-w shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#"> <img src="./images/image-logokotak.png" alt="" width="40" class="d-inline-block align-text-center" /> </a>
                <span class="fs-4 fw-bold" href="">Kotak</span>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link px-3" aria-current="page" href="#">Home</a>
                        <a class="nav-link px-3 fw-bold f-color-b" href="#">Pencarian</a>
                        <a class="nav-link px-3" href="#">Sewaku</a>
                        <a class="nav-link px-3" href="#">FAQ</a>
                        <a class="nav-link px-3 disabled" href="#">About</a>
                    </div>
                </div>
                <a class="navbar-brand button btn-primary f-color-w rounded-pill px-4" href="#">Ivan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- stop navbar -->

        <!-- start section 1 -->
        <div class="container-fluid text-center d-flex justify-content-center py-4 bg-color-g">
            <div class="col-md-5">
                <div class="d-flex flex-row shd-blue rounded-pill">
                    <div class="col-md-10">
                        <input type="text" class="w-100 h-100 rnd-kiri ps-3" placeholder="Cari sesuatu disini" />
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary rnd-kanan px-3 w-100" href="#" role="button">Cari</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- stop section 1 -->

        <!-- start section 2 -->
        <div class="foto-kos"></div>
        <!-- stop section 2 -->

        <div class="container d-flex my-5">
            <div class="col-md-8 pe-5">
                <!-- start section 3 -->

                <div class="py-5">
                    <h2 class="mb-3">Keterangan</h2>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Doloremque optio nihil veritatis, aperiam odio totam saepe illum delectus, nemo harum illo. Dicta ratione repellendus itaque nemo hic sit voluptatem, eaque
                        laudantium eligendi dolor quae sed aut aperiam nostrum sunt minus!
                    </p>
                </div>
                <div class="py-5 bdr-top">
                    <h2 class="mb-3">Fitur</h2>
                    <ul>
                        <li>
                            <a><img src="./images/icon-fitur-1.png" class="me-2" alt="" /></a>Kamar tersedia : 3
                        </li>
                        <li>
                            <a><img src="./images/icon-fitur-2.png" class="me-2" alt="" /></a>Kamar mandi : Luar
                        </li>
                        <li>
                            <a><img src="./images/icon-fitur-3.png" class="me-2" alt="" /></a>Wifi : Ya
                        </li>
                    </ul>
                </div>
                <div class="py-5 bdr-top">
                    <h2 class="mb-3">Peraturan</h2>
                    <p>
                        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, soluta. Molestias, maiores. Quam repellat adipisci ipsam officiis voluptatibus qui, commodi nulla, necessitatibus odit beatae ducimus incidunt?
                        Culpa eum, temporibus facilis totam dolorem, inventore quidem impedit labore ab at autem, expedita debitis similique ullam quasi modi nobis quisquam aperiam dicta dignissimos.
                    </p>
                </div>
                <div class="py-5 bdr-top">
                    <h2 class="mb-3">Lokasi</h2>
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d873.3676337810354!2d110.49932090231903!3d-7.330795558247118!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e7a7831cb73c925%3A0x3ffe6b4abb68a4d0!2sAlun%20Alun%20Pancasila!5e1!3m2!1sid!2sid!4v1636864696625!5m2!1sid!2sid"
                        class="map-size"
                        style="border: 0"
                        allowfullscreen=""
                        loading="lazy"
                    ></iframe>
                    <p>Alamat lengkap : Jalan Mana, RT 123 RW 456, Kecamatan Mana, Salatiga, Jawa Tengah.</p>
                </div>
                <div class="py-5 bdr-top">
                    <h2 class="mb-3">Informasi Pemilik</h2>
                    <h4>
                        <a><img src="./images/image-ft-1.png" height="50" class="me-3 mb-3" alt="" /></a>Ivan Andika Surya
                    </h4>
                    <p>No Hp : 0895391703636</p>
                    <p>Alamat : Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea aliquid quae velit aliquam accusamus doloribus natus est architecto.</p>
                    <p>Email : 0895391703636</p>
                </div>
                <!-- stop section 3 -->
            </div>
            <div class="col-md-4">
                <!-- start aside -->
                <div class="bg-color-b f-color-w my-5 p-4 rnd-box shd-blue">
                    <h2>Tertarik?</h2>
                    <p>Kamu dapat menyewa kos ini dengan harga berikut.</p>
                    <div class="d-flex">
                        <h2>Rp 600.000</h2>
                        <p style="line-height: 300%">/bulan</p>
                    </div>
                    <a class="btn btn-outline-light rounded-pill px-3 shd-blue" href="#" role="button">Sewa</a>
                </div>
                <div class="bg-color-g f-color my-5 p-4 rnd-box">
                    <h2>Informasi lainnya</h2>
                    <p>Kos ini dekat dengan fasilitas berikut:</p>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Neque in nihil expedita atque, pariatur debitis omnis officia facilis eveniet repellat.</p>
                </div>
                <!-- stop aside -->
            </div>
        </div>

        <!-- start footer -->
        <div class="container bdr-top py-5">
            <div class="d-flex w-100 justify-content-center align-items-center">
                <a href=""><img class="px-2" src="./images/image-logo-fb.png" height="30" alt="" /></a>
                <a href=""><img class="px-2" src="./images/image-logo-ig.png" height="30" alt="" /></a>
                <img class="px-2" src="./images/image-logokotak.png" height="70" alt="" />
                <a href=""><img class="px-2" src="./images/image-logo-wa.png" height="30" alt="" /></a>
                <a href=""><img class="px-2" src="./images/image-logo-gh.png" height="30" alt="" /></a>
            </div>
        </div>
        <div class="container-fluid bg-color-b py-2 text-center f-color-w">
            <a>Copyright ©2021 - kotak.co</a>
        </div>
        <!-- stop footer -->

        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
