<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="button.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

        <title>Home Kotak</title>
    </head>
    <body>
        <!-- start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm f-color">
            <div class="container">
                <a class="navbar-brand" href="#"> <img src="./images/image-logokotak.png" alt="" width="40" class="d-inline-block align-text-center" /> </a>
                <span class="fs-4 fw-bold" href="">Kotak</span>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link px-3 fw-bold f-color-b" aria-current="page" href="#">Home</a>
                        <a class="nav-link px-3" href="#">Pencarian</a>
                        <a class="nav-link px-3" href="#">Sewaku</a>
                        <a class="nav-link px-3" href="#">FAQ</a>
                        <a class="nav-link px-3" href="#">About</a>
                    </div>
                </div>
                <a class="navbar-brand" href="#">
                    <img src="./images/image-logoperson.png" alt="" height="20" class="d-inline-block align-text-center bg-primary" />
                </a>
            </div>
        </nav>
        <!-- stop navbar -->
        <!-- start jumbotron -->
        <div class="">
            <div class="header-image"></div>
            <div class="header-text w-25">
                <h1>Sedang cari Kos atau Kontrakan?</h1>
                <p>Kotak adalah platform terpercaya untuk mendapatkan informasi kos dan kontrakan di Kota Salatiga. Mau mulai lihat-lihat?</p>
                <a class="btn btn-primary rounded-pill px-3 shd-blue" href="#" role="button">Mulai</a>
            </div>

            <!-- <img src="./images/image-bg-home.png" class="w-100" alt="" />
            <div class="carousel-caption text-dark">
                <h1>Example headline.</h1>
            </div> -->
        </div>
        <!-- stop jumbotron -->

        <!-- start section 1 -->
        <div class="container text-center d-flex justify-content-center my-5">
            <div class="w-50 my-5">
                <h1>Mulai pencarianmu dari sini</h1>
                <p>Kamu bisa cari sesuai lokasi yang kamu inginkan, coba cari juga menggunakan tagar seperti #FTI, #UKSW, dan yang lain</p>
                <div class="d-flex flex-row my-5 shd-blue rounded-pill">
                    <div class="col-md-10">
                        <input type="text" class="w-100 h-100 rnd-kiri" />
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary rnd-kanan px-3 w-100" href="#" role="button">Cari</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- stop section 1 -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
