<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="style.css" />
        <link rel="stylesheet" href="button.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous" />

        <title>Home Kotak</title>
    </head>
    <body class="f-color">
        <!-- start navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-color-w shadow-sm">
            <div class="container">
                <a class="navbar-brand" href="#"> <img src="./images/image-logokotak.png" alt="" width="40" class="d-inline-block align-text-center" /> </a>
                <span class="fs-4 fw-bold" href="">Kotak</span>

                <div class="collapse navbar-collapse justify-content-center" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link px-3 fw-bold f-color-b" aria-current="page" href="#">Home</a>
                        <a class="nav-link px-3" href="#">Pencarian</a>
                        <a class="nav-link px-3" href="#">Sewaku</a>
                        <a class="nav-link px-3" href="#">FAQ</a>
                        <a class="nav-link px-3" href="#">About</a>
                    </div>
                </div>
                <a class="navbar-brand button btn-primary f-color-w rounded-pill px-4" href="#">Ivan</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- stop navbar -->

        <!-- start jumbotron -->
        <div class="">
            <div class="bg-image-home"></div>
            <div class="header-text w-25">
                <h1>Sedang cari Kos atau Kontrakan?</h1>
                <p>Kotak adalah platform terpercaya untuk mendapatkan informasi kos dan kontrakan di Kota Salatiga. Mau mulai lihat-lihat?</p>
                <a class="btn btn-primary rounded-pill px-4 shd-blue" href="#" role="button">Mulai</a>
            </div>
        </div>
        <!-- stop jumbotron -->

        <!-- start section 1 -->
        <div class="container-fluid text-center d-flex justify-content-center py-10 bg-color-g">
            <div class="col-md-5">
                <h1>Mulai pencarianmu dari sini</h1>
                <p>Kamu bisa cari sesuai lokasi yang kamu inginkan, coba cari juga menggunakan tagar seperti #FTI, #UKSW, dan yang lain</p>
                <div class="d-flex flex-row my-5 shd-blue rounded-pill">
                    <div class="col-md-10">
                        <input type="text" class="w-100 h-100 rnd-kiri ps-3" placeholder="Cari sesuatu disini" />
                    </div>
                    <div class="col-md-2">
                        <a class="btn btn-primary rnd-kanan px-3 w-100" href="#" role="button">Cari</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- stop section 1 -->

        <!-- start section 2 -->
        <div class="container-fluid text-center d-flex justify-content-center py-10 bg-color-b">
            <div class="col-md-8 f-color-w">
                <h1>Nikmati kemudahan dalam mencari kos dan kontrakan di Kota Salatiga</h1>
                <p>
                    Kami menawarkan fitur-fitur yang dapat memudahkan Anda dalam mencari kos atau kontrakan nih,<br />
                    apa aja sih kelebihan dari Kotak?
                </p>
                <div class="d-flex my-5 justify-content-center">
                    <div class="row row-cols-md-4 g-4">
                        <div class="col">
                            <div class="card h-100 bg-color-d px-2 py-7 rnd-box">
                                <div class="card-body">
                                    <h5 class="card-title">Mudah digunakan</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 bg-color-d px-2 py-7 rnd-box">
                                <div class="card-body">
                                    <h5 class="card-title">Pilihan yang variatif</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 bg-color-d px-2 py-7 rnd-box">
                                <div class="card-body">
                                    <h5 class="card-title">Update setiap hari</h5>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card h-100 bg-color-d px-2 py-7 rnd-box">
                                <div class="card-body">
                                    <h5 class="card-title">Minim biaya layanan</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- stop section 2 -->

        <!-- start section 3 -->
        <div class="container-fluid text-center d-flex justify-content-center py-10 bg-color-g">
            <div class="col-md-8">
                <h1>Kata mereka yang sudah pakai Kotak!</h1>
                <p>Mari kita lihat pendapat mereka mengenai Kotak</p>
                <div class="d-flex my-5 justify-content-center">
                    <div class="row row-cols-1 row-cols-md-3 g-4">
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Ivan Andika Surya</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Ivan Andika Surya</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                        <div class="col">
                            <div class="h-100">
                                <img src="./images/image-ft-1.png" height="150" />
                                <div class="card-body">
                                    <h5 class="card-title">Ivan Andika Surya</h5>
                                    <p class="card-text">"Mantap, sangat membantu untuk mencari kos di Kota Salatiga!"</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- stop section 3 -->

        <!-- start footer -->
        <div class="container bdr-top py-5">
            <div class="d-flex w-100 justify-content-center align-items-center">
                <a href=""><img class="px-2" src="./images/image-logo-fb.png" height="30" alt="" /></a>
                <a href=""><img class="px-2" src="./images/image-logo-ig.png" height="30" alt="" /></a>
                <img class="px-2" src="./images/image-logokotak.png" height="70" alt="" />
                <a href=""><img class="px-2" src="./images/image-logo-wa.png" height="30" alt="" /></a>
                <a href=""><img class="px-2" src="./images/image-logo-gh.png" height="30" alt="" /></a>
            </div>
        </div>
        <div class="container-fluid bg-color-b py-2 text-center f-color-w">
            <a>Copyright ©2021 - kotak.co</a>
        </div>
        <!-- stop footer -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    </body>
</html>
